* {
	font-family: 'Exo 2', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--modern-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.07),
		                   0px 2px 4px 0px rgba(0, 0, 0, 0.07), 
                       0px 4px 8px 0px rgba(0, 0, 0, 0.07),
		                   0px 8px 16px 0px rgba(0, 0, 0, 0.07), 
                       0px 16px 32px 0px rgba(0, 0, 0, 0.07),
		                   0px 32px 64px 0px rgba(0, 0, 0, 0.07);
}

.container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr 6fr 3fr;
	grid-template-areas:
		'search-and-location'
		'current-weather'
		'weather-forecast';
}

.search-and-location {
	grid-area: search-and-location;
  height: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.192);
}

.current-weather {
  background-color: rgba(240, 255, 102, 0.384);
	grid-area: current-weather;
  display: flex;
  position: relative;
	width: 50%;
	height: 70%;
	border: 1px solid rgba(0, 0, 0, 0.192);
  border-radius: 3px;
  box-shadow: var(--modern-box-shadow);
	justify-self: center;
	align-self: center;
}

.current-weather img {
  width: 100%;
  height: 85%;
  object-fit: contain;
  align-self: center;
  justify-self: center;
  opacity: 35%;
}

.current-weather h1 {
  position: absolute;
}

.weather-forecast {
	grid-area: weather-forecast;
  width: 65%;
  height: 40%;
	border: 1px solid rgba(0, 0, 0, 0.192);
  box-shadow: var(--modern-box-shadow);
  justify-self: center;
	align-self: center;
}

/* Loading placeholder styles */

.loading-placeholder {
	width: 100%;
	height: 100%;
	background-color: #f0f0f0;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.loading-placeholder::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: -150px;
	height: 100%;
	width: 150px;
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.4) 50%,
		rgba(255, 255, 255, 0) 100%
	);
	animation: loading 1.5s infinite;
}

@keyframes loading {
	0% {
		left: -150px;
	}
	50% {
		left: 100%;
	}
	100% {
		left: 100%;
	}
}
